In [1]:
from main import run

dic = run()

- Dataframe obtido pelo AG

    - _ranking_ é a ordem que foi obtido o grupo na iteração do AG;
    - _qtd_ é a quantidade de módulos no grupo otimizado;
    - _grupo_ é o grupo de módulos;
    - _avaliacao_ é o valor do grupo calculado na função objetivo.

In [29]:
df = dic.get('ag')

df.to_csv('grupo_ag.csv', index=False, sep=';')
df.sort_values('avaliacao', ascending=False)

    ranking  qtd                                              grupo  avaliacao
0         1   19  [738, 476, 323, 823, 961, 892, 970, 14, 346, 6...     200000
2         3   19  [906, 558, 1079, 38, 986, 514, 124, 705, 117, ...     199996
3         4   17  [875, 449, 316, 1027, 490, 18, 833, 380, 20, 6...     199990
5         6   18  [646, 730, 478, 387, 753, 223, 283, 708, 864, ...     199988
6         7   20  [306, 132, 545, 1089, 539, 812, 982, 878, 891,...     199984
4         5   15  [729, 115, 322, 485, 1101, 570, 133, 642, 418,...     199982
1         2   20  [557, 828, 831, 460, 447, 435, 290, 522, 527, ...     199973
7         8   18  [770, 127, 691, 644, 671, 122, 1057, 743, 662,...     199970
8         9   18  [162, 53, 709, 724, 291, 438, 121, 523, 668, 7...     199697
9        10   18  [414, 377, 574, 385, 576, 103, 128, 365, 100, ...     158623
10       11   20  [706, 6, 1068, 711, 1018, 889, 397, 604, 666, ...      94659
11       12   19  [19, 511, 521, 630, 859, 643, 693, 676, 736, 6...      59623
12       13   18  [60, 366, 419, 577, 345, 101, 865, 392, 139, 5...      42389
13       14   18  [745, 637, 113, 112, 774, 611, 415, 863, 373, ...      29654
14       15   19  [905, 450, 620, 1029, 354, 617, 618, 39, 653, ...      22166
15       16   19  [903, 722, 912, 63, 902, 572, 679, 1074, 430, ...      17098
16       17   19  [824, 390, 841, 869, 607, 622, 681, 560, 367, ...      11928
17       18   19  [660, 445, 613, 636, 473, 436, 452, 567, 470, ...       8971
18       19   18  [1036, 62, 1011, 791, 614, 665, 394, 616, 744,...       6982
19       20   20  [790, 481, 819, 439, 913, 732, 1048, 804, 376,...       5113
20       21   20  [697, 551, 852, 597, 888, 867, 1091, 368, 1098...       3923
21       22   18  [698, 10, 11, 778, 795, 483, 695, 989, 956, 66...       3009
22       23   20  [914, 966, 766, 1022, 1103, 717, 835, 872, 810...       2344
23       24   20  [746, 516, 820, 792, 587, 894, 716, 543, 762, ...       1667
24       25   19  [798, 648, 799, 801, 661, 1038, 712, 504, 590,...       1344
25       26   20  [848, 773, 1072, 977, 868, 52, 655, 949, 827, ...       1026
26       27   19  [528, 667, 563, 707, 821, 688, 1082, 998, 946,...        850
27       28   20  [733, 967, 815, 945, 911, 784, 937, 517, 672, ...        588
28       29   20  [935, 962, 838, 978, 703, 882, 806, 687, 556, ...        415
29       30   20  [992, 1100, 938, 765, 690, 1092, 553, 721, 808...        322
30       31   19  [971, 552, 897, 883, 578, 925, 555, 783, 979, ...        214
31       32   18  [849, 1016, 689, 932, 747, 942, 1081, 1080, 74...        106
32       33   20  [1005, 926, 582, 886, 901, 1002, 554, 714, 109...         46

- Lista de módulos que sobraram no processo do AG (possivelmente poderão ser rodados como um grupo único, vamos testar)

In [3]:
sobra = dic.get('sobra')
sobra

[np.int64(939), np.int64(1031), np.int64(595), np.int64(134)]

In [4]:
import pandas as pd
data = pd.read_csv('dados.csv', sep=';')

df_sobra = data.query('id_modulo.isin(@sobra)')

print(f'Quantidade de dados {df_sobra.qtd.sum():_}', )
df_sobra

Quantidade de dados 19_587

     id_modulo    qtd
12         939      1
13        1031      1
204        595      1
627        134  19584

- Lista de Módulos maiores que o limite (precisam ser baixados individualmente)

In [5]:
individual = dic.get('individual')
individual

[np.int64(129), np.int64(108), np.int64(362), np.int64(58)]

In [6]:
import pandas as pd
data = pd.read_csv('dados.csv', sep=';')

data.query('id_modulo.isin(@individual)')

     id_modulo      qtd
628        129   205596
629        108   257385
630        362   710067
631         58  1076085